In [ ]:
#!pip install mysql-connector-python

In [1]:
import mysql.connector

In [2]:
from getpass import getpass
from mysql.connector import connect, Error

try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
    ) as connection:
        print(connection)
except Error as e:
    print(e)

Enter username: root
Enter password: ········
<mysql.connector.connection_cext.CMySQLConnection object at 0x10808abf0>

In [3]:
connection.connect()

In [4]:
mycursor = connection.cursor(buffered=True)

#mycursor.execute("create database challenge4")
mycursor.execute("use challenge4")

In [5]:
# creating tasks table
create_tasks_table_query = """
create table tasks(
    taskID INT AUTO_INCREMENT PRIMARY KEY, -- TaskID
    priority INT, -- Priority of the task - Number between 1 (higher priority) and 5 (lower priority)
    difficulty INT, -- Difficulty of the task - Number between 1 (lower difficulty) and 5 (higher difficulty)
    time INT, -- Time to conclude the task
    constraint priority CHECK (priority BETWEEN 1 AND 5),
    constraint difficulty CHECK (difficulty BETWEEN 1 AND 5)
)
"""
mycursor.execute(create_tasks_table_query)

In [7]:
populate_tasks_table_query = """
insert into tasks (priority, difficulty, time)
values 
	(2, 1, 2),
    (1, 4, 6),
    (4, 1, 1),
    (5, 5, 2),
    (3, 3, 3),
    (1, 1, 1),
    (3, 2, 4),
    (2, 1, 3),
    (1, 5, 5),
    (2, 4, 7),
    (4, 4, 8),
    (1, 3, 2),
    (3, 3, 2),
    (1, 1, 1),
    (1, 5, 1),
    (4, 5, 6),
    (3, 4, 3),
    (5, 2, 2),
    (5, 3, 4),
    (1, 1, 5),
    (2, 2, 7),
    (4, 5, 8),
    (3, 5, 2),
    (1, 3, 5),
    (1, 5, 8), 
    (3, 3, 6),
    (1, 1, 4),
    (1, 4, 2),
    (2, 4, 3),
    (4, 2, 1),
    (3, 4, 2),
    (2, 2, 4),
    (3, 2, 1),
    (4, 5, 2),
    (5, 4, 2),
    (5, 2, 7),
    (2, 5, 4),
    (4, 1, 5),
    (1, 1, 3),
    (1, 4, 2),
    (3, 3, 6),
    (2, 5, 1),
    (5, 2, 4),
    (2, 3, 5),
    (5, 5, 2),
    (3, 2, 4),
    (2, 1, 3),
    (2, 4, 1),
    (5, 5, 5),
    (1, 2, 3)"""
mycursor.execute(populate_tasks_table_query)

In [8]:
mycursor.execute("select * from tasks")
result = mycursor.fetchall()
print("Tasks table:")
print(result)

Tasks table:
[(1, 2, 1, 2), (2, 1, 4, 6), (3, 4, 1, 1), (4, 5, 5, 2), (5, 3, 3, 3), (6, 1, 1, 1), (7, 3, 2, 4), (8, 2, 1, 3), (9, 1, 5, 5), (10, 2, 4, 7), (11, 4, 4, 8), (12, 1, 3, 2), (13, 3, 3, 2), (14, 1, 1, 1), (15, 1, 5, 1), (16, 4, 5, 6), (17, 3, 4, 3), (18, 5, 2, 2), (19, 5, 3, 4), (20, 1, 1, 5), (21, 2, 2, 7), (22, 4, 5, 8), (23, 3, 5, 2), (24, 1, 3, 5), (25, 1, 5, 8), (26, 3, 3, 6), (27, 1, 1, 4), (28, 1, 4, 2), (29, 2, 4, 3), (30, 4, 2, 1), (31, 3, 4, 2), (32, 2, 2, 4), (33, 3, 2, 1), (34, 4, 5, 2), (35, 5, 4, 2), (36, 5, 2, 7), (37, 2, 5, 4), (38, 4, 1, 5), (39, 1, 1, 3), (40, 1, 4, 2), (41, 3, 3, 6), (42, 2, 5, 1), (43, 5, 2, 4), (44, 2, 3, 5), (45, 5, 5, 2), (46, 3, 2, 4), (47, 2, 1, 3), (48, 2, 4, 1), (49, 5, 5, 5), (50, 1, 2, 3)]