# Database

## Libraries and Imports

In [7]:
#!pip install mysql-connector-python

In [8]:
from getpass import getpass
from mysql.connector import connect, Error

### Database Creation

In [9]:
# Establishes a connection to the MySQL database.
try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
        autocommit=True,
    ) as connection:
        print(connection)
except Error as e:
    print(e)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000200C7969D90>

In [10]:
# Makes the connection to the MySQL database.
connection.connect()

In [11]:
# Created a cursor to execute SQL commands.
mycursor = connection.cursor(buffered=True)

# This line should be uncommented the first time the notebook is run, to create the database.
# mycursor.execute("create database challenge4")
mycursor.execute("use challenge4")

In [12]:
# Creating the tasks table.
create_tasks_table_query = """
create table tasks(
    taskID INT AUTO_INCREMENT PRIMARY KEY, -- TaskID
    priority INT, -- Priority of the task - Number between 1 (lower priority) and 5 (higher priority)
    difficulty INT, -- Difficulty of the task - Fibonacci Sequence (1, 2, 3, 5, 8, 13)
    time INT, -- Time to conclude the task
    constraint priority CHECK (priority BETWEEN 1 AND 5),
    constraint difficulty CHECK (difficulty IN (1, 2, 3, 5, 8, 13))
)
"""
mycursor.execute(create_tasks_table_query)

In [13]:
# Creating the employees table.
create_employees_table_query = """
create table employees(
    id INT AUTO_INCREMENT PRIMARY KEY, -- EmployeeID
    name VARCHAR(255), -- Name of the employee
    task_id INT, -- The task the employee is performing
    FOREIGN KEY (id) REFERENCES tasks (taskID)
)
"""
mycursor.execute(create_employees_table_query)

In [14]:
populate_tasks_table_query = """
insert into tasks (priority, difficulty, time)
values 
	(2, 1, 2),
    (1, 5, 6),
    (4, 1, 1),
    (5, 13, 2),
    (3, 3, 3),
    (1, 1, 1),
    (3, 2, 4),
    (2, 1, 3),
    (1, 8, 5),
    (2, 3, 7),
    (4, 8, 8),
    (1, 3, 2),
    (3, 5, 2),
    (1, 1, 1),
    (1, 13, 1),
    (4, 8, 6),
    (3, 5, 3),
    (5, 2, 2),
    (5, 3, 4),
    (1, 1, 5),
    (2, 2, 7),
    (4, 5, 8),
    (3, 5, 2),
    (1, 3, 5),
    (1, 5, 8), 
    (3, 3, 6),
    (1, 1, 4),
    (1, 13, 2),
    (2, 8, 3),
    (4, 2, 1),
    (3, 8, 2),
    (2, 2, 4),
    (3, 2, 1),
    (4, 5, 2),
    (5, 13, 2),
    (5, 2, 7),
    (2, 5, 4),
    (4, 1, 5),
    (1, 1, 3),
    (1, 8, 2),
    (3, 3, 6),
    (2, 5, 1),
    (5, 2, 4),
    (2, 3, 5),
    (5, 5, 2),
    (3, 2, 4),
    (2, 1, 3),
    (2, 8, 1),
    (5, 5, 5),
    (1, 2, 3)"""
mycursor.execute(populate_tasks_table_query)

In [15]:
populate_employee_table_query = """
insert into employees (name, task_id)
values
	("Catarina", 1),
    ("Maria", 2),
    ("João", 3),
    ("Renato", 4),
    ("Marcelo", 5)
"""
mycursor.execute(populate_employee_table_query)

In [16]:
mycursor.execute("select * from tasks")
result = mycursor.fetchall()
print("Tasks table:")
print(result)

Tasks table:
[(1, 2, 1, 2), (2, 1, 5, 6), (3, 4, 1, 1), (4, 5, 13, 2), (5, 3, 3, 3), (6, 1, 1, 1), (7, 3, 2, 4), (8, 2, 1, 3), (9, 1, 8, 5), (10, 2, 3, 7), (11, 4, 8, 8), (12, 1, 3, 2), (13, 3, 5, 2), (14, 1, 1, 1), (15, 1, 13, 1), (16, 4, 8, 6), (17, 3, 5, 3), (18, 5, 2, 2), (19, 5, 3, 4), (20, 1, 1, 5), (21, 2, 2, 7), (22, 4, 5, 8), (23, 3, 5, 2), (24, 1, 3, 5), (25, 1, 5, 8), (26, 3, 3, 6), (27, 1, 1, 4), (28, 1, 13, 2), (29, 2, 8, 3), (30, 4, 2, 1), (31, 3, 8, 2), (32, 2, 2, 4), (33, 3, 2, 1), (34, 4, 5, 2), (35, 5, 13, 2), (36, 5, 2, 7), (37, 2, 5, 4), (38, 4, 1, 5), (39, 1, 1, 3), (40, 1, 8, 2), (41, 3, 3, 6), (42, 2, 5, 1), (43, 5, 2, 4), (44, 2, 3, 5), (45, 5, 5, 2), (46, 3, 2, 4), (47, 2, 1, 3), (48, 2, 8, 1), (49, 5, 5, 5), (50, 1, 2, 3)]

In [17]:
mycursor.execute("select * from employees")
result = mycursor.fetchall()
print("Employees table:")
print(result)

Employees table:
[(1, 'Catarina', 1), (2, 'Maria', 2), (3, 'João', 3), (4, 'Renato', 4), (5, 'Marcelo', 5)]